/*

  Background attachment
  
*/

@mixin generateBackgroundAttachment($breakpoint: null) {
  .#{$breakpoint}bg-fixed { background-attachment: fixed; }
  .#{$breakpoint}bg-local { background-attachment: local; }
  .#{$breakpoint}bg-scroll { background-attachment: scroll; }
}

@include generateBackgroundAttachment();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateBackgroundAttachment(#{$name}-);
    }
  }
}
