/*

	Background position

*/

@mixin utility-background-position($breakpoint: null) {
  .#{$breakpoint}bg-center { 
  	background-repeat: no-repeat;
  	background-position: center center; 
  }
  .#{$breakpoint}bg-top { 
  	background-repeat: no-repeat;
  	background-position: top center; 
  }
  .#{$breakpoint}bg-right { 
  	background-repeat: no-repeat;
  	background-position: center right; 
  }
  .#{$breakpoint}bg-bottom { 
  	background-repeat: no-repeat;
  	background-position: bottom center; 
  }
  .#{$breakpoint}bg-left { 
  	background-repeat: no-repeat;
  	background-position: center left; 
  }
}

@include utility-background-position();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include utility-background-position(#{$name}-);
    }
  }
}