/*

	Background

*/

@include breakpoints {

	&bg-cover { background-size: cover; }
	&bg-contain { background-size: contain; }
	&bg-fixed { background-attachment: fixed; }
	&bg-repeat { background-repeat: repeat; }
	&bg-border-box { background-clip: border-box; }
	&bg-padding-box { background-clip: padding-box; }
	&bg-content-box { background-clip: content-box; }
	&bg-no-repeat { background-repeat: no-repeat; }
	&bg-repeat-x { background-repeat: repeat-x; }
	&bg-repeat-y { background-repeat: repeat-y; }
	&bg-repeat-space { background-repeat: space; }
	&bg-repeat-around { background-repeat: round; }
	&bg-center { background-repeat: no-repeat; background-position: center center; }
	&bg-top { background-repeat: no-repeat; background-position: top center; }
	&bg-right { background-repeat: no-repeat; background-position: center right; }
	&bg-bottom { background-repeat: no-repeat; background-position: bottom center; }
	&bg-left { background-repeat: no-repeat; background-position: center left; }

}