/*

	Background

*/

.bg-cover { background-size: cover; }
.bg-contain { background-size: contain; }
.bg-fixed { background-attachment: fixed; }
.bg-repeat { background-repeat: repeat; }
.bg-border-box { background-clip: border-box; }
.bg-padding-box { background-clip: padding-box; }
.bg-content-box { background-clip: content-box; }
.bg-no-repeat { background-repeat: no-repeat; }
.bg-repeat-x { background-repeat: repeat-x; }
.bg-repeat-y { background-repeat: repeat-y; }
.bg-repeat-space { background-repeat: space; }
.bg-repeat-around { background-repeat: round; }
.bg-center { background-repeat: no-repeat; background-position: center center; }
.bg-top {background-repeat: no-repeat; background-position: top center; }
.bg-right { background-repeat: no-repeat; background-position: center right; }
.bg-bottom { background-repeat: no-repeat; background-position: bottom center; }
.bg-left { background-repeat: no-repeat; background-position: center left; }

@include breakpoint("sm") {

	.sm-bg-cover { background-size: cover; }
	.sm-bg-contain { background-size: contain; }
	.sm-bg-fixed { background-attachment: fixed; }
	.sm-bg-repeat { background-repeat: repeat; }
	.sm-bg-border-box { background-clip: border-box; }
	.sm-bg-padding-box { background-clip: padding-box; }
	.sm-bg-content-box { background-clip: content-box; }
	.sm-bg-no-repeat { background-repeat: no-repeat; }
	.sm-bg-repeat-x { background-repeat: repeat-x; }
	.sm-bg-repeat-y { background-repeat: repeat-y; }
	.sm-bg-repeat-space { background-repeat: space; }
	.sm-bg-repeat-around { background-repeat: round; }
	.sm-bg-center { background-repeat: no-repeat; background-position: center center; }
	.sm-bg-top {background-repeat: no-repeat; background-position: top center; }
	.sm-bg-right { background-repeat: no-repeat; background-position: center right; }
	.sm-bg-bottom { background-repeat: no-repeat; background-position: bottom center; }
	.sm-bg-left { background-repeat: no-repeat; background-position: center left; }

}

@include breakpoint("md") {

	.md-bg-cover { background-size: cover; }
	.md-bg-contain { background-size: contain; }
	.md-bg-fixed { background-attachment: fixed; }
	.md-bg-repeat { background-repeat: repeat; }
	.md-bg-border-box { background-clip: border-box; }
	.md-bg-padding-box { background-clip: padding-box; }
	.md-bg-content-box { background-clip: content-box; }
	.md-bg-no-repeat { background-repeat: no-repeat; }
	.md-bg-repeat-x { background-repeat: repeat-x; }
	.md-bg-repeat-y { background-repeat: repeat-y; }
	.md-bg-repeat-space { background-repeat: space; }
	.md-bg-repeat-around { background-repeat: round; }
	.md-bg-center { background-repeat: no-repeat; background-position: center center; }
	.md-bg-top {background-repeat: no-repeat; background-position: top center; }
	.md-bg-right { background-repeat: no-repeat; background-position: center right; }
	.md-bg-bottom { background-repeat: no-repeat; background-position: bottom center; }
	.md-bg-left { background-repeat: no-repeat; background-position: center left; }

}

@include breakpoint("lg") {

	.lg-bg-cover { background-size: cover; }
	.lg-bg-contain { background-size: contain; }
	.lg-bg-fixed { background-attachment: fixed; }
	.lg-bg-repeat { background-repeat: repeat; }
	.lg-bg-border-box { background-clip: border-box; }
	.lg-bg-padding-box { background-clip: padding-box; }
	.lg-bg-content-box { background-clip: content-box; }
	.lg-bg-no-repeat { background-repeat: no-repeat; }
	.lg-bg-repeat-x { background-repeat: repeat-x; }
	.lg-bg-repeat-y { background-repeat: repeat-y; }
	.lg-bg-repeat-space { background-repeat: space; }
	.lg-bg-repeat-around { background-repeat: round; }
	.lg-bg-center { background-repeat: no-repeat; background-position: center center; }
	.lg-bg-top {background-repeat: no-repeat; background-position: top center; }
	.lg-bg-right { background-repeat: no-repeat; background-position: center right; }
	.lg-bg-bottom { background-repeat: no-repeat; background-position: bottom center; }
	.lg-bg-left { background-repeat: no-repeat; background-position: center left; }

}

@include breakpoint("xl") {

	.xl-bg-cover { background-size: cover; }
	.xl-bg-contain { background-size: contain; }
	.xl-bg-fixed { background-attachment: fixed; }
	.xl-bg-repeat { background-repeat: repeat; }
	.xl-bg-border-box { background-clip: border-box; }
	.xl-bg-padding-box { background-clip: padding-box; }
	.xl-bg-content-box { background-clip: content-box; }
	.xl-bg-no-repeat { background-repeat: no-repeat; }
	.xl-bg-repeat-x { background-repeat: repeat-x; }
	.xl-bg-repeat-y { background-repeat: repeat-y; }
	.xl-bg-repeat-space { background-repeat: space; }
	.xl-bg-repeat-around { background-repeat: round; }
	.xl-bg-center { background-repeat: no-repeat; background-position: center center; }
	.xl-bg-top {background-repeat: no-repeat; background-position: top center; }
	.xl-bg-right { background-repeat: no-repeat; background-position: center right; }
	.xl-bg-bottom { background-repeat: no-repeat; background-position: bottom center; }
	.xl-bg-left { background-repeat: no-repeat; background-position: center left; }

}
