/*

	Background repeat

*/

@mixin generateBackgroundRepeat($breakpoint: null) {
  .#{$breakpoint}bg-repeat { background-repeat: repeat; }
  .#{$breakpoint}bg-no-repeat { background-repeat: no-repeat; }
  .#{$breakpoint}bg-repeat-h { background-repeat: repeat-x; }
  .#{$breakpoint}bg-repeat-v { background-repeat: repeat-y; }
  .#{$breakpoint}bg-repeat-space { background-repeat: space; }
  .#{$breakpoint}bg-repeat-around { background-repeat: around; }
}

@include generateBackgroundRepeat();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateBackgroundRepeat(#{$name}-);
    }
  }
}
