/*

	Border

		rad = radius, steps(5) [0, .125, .250, .5, 1]

*/

.b-none { border: 0; }
.b { border-style: solid; border-width: 1px; }
.b-top { border-top-style: solid; border-top-width: 1px; }
.b-right { border-right-style: solid; border-bottom-width: 1px; }
.b-bottom { border-bottom-style: solid; border-bottom-width: 1px; }
.b-left { border-left-style: solid; border-top-width: 1px; }
.b-top-none { border-top-width: 0; }
.b-right-none { border-right-width: 0; }
.b-bottom-none { border-bottom-width: 0; }
.b-left-none { border-left-width: 0; }
.b-tight { border-width: 2px; }
.b-thick { border-width: 4px; }
.doshed { border-style: dashed; }
.dotted { border-style: dotted; }
.double { border-style: double; }
.rounded-top { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.rounded-right {border-top-left-radius: 0; border-bottom-left-radius: 0; }
.rounded-bottom { border-top-left-radius: 0; border-top-right-radius: 0; }
.rounded-left { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.circle { border-radius: 50%; }
.rad0 { border-radius: 0; }
.rad1 { border-radius: .125rem; }
.rad2 { border-radius: .250rem; }
.rad3 { border-radius: .5rem; }
.rad4 { border-radius: 1rem; }
