/*

	Border style

*/

@mixin generateBorderStyle($breakpoint: null) {
	.#{$breakpoint}border-solid { border-style: solid; }
	.#{$breakpoint}border-dotted { border-style: dotted; }
	.#{$breakpoint}border-dashed { border-style: dashed; }
	.#{$breakpoint}border-none { border-style: none; }
}

@include generateBorderStyle();
