/*

	Border width

*/

@mixin utility-border-width($breakpoint: null) {
  @each $name, $value in $border-width {
    .#{$breakpoint}border-a-#{$name} {
      border-width: #{$value};
    }
  }

  @each $name, $value in $border-width {
    .#{$breakpoint}border-t-#{$name} {
      border-top-width: #{$value};
    }
  }

  @each $name, $value in $border-width {
    .#{$breakpoint}border-r-#{$name} {
      border-right-width: #{$value};
    }
  }

  @each $name, $value in $border-width {
    .#{$breakpoint}border-b-#{$name} {
      border-bottom-width: #{$value};
    }
  }

  @each $name, $value in $border-width {
    .#{$breakpoint}border-l-#{$name} {
      border-left-width: #{$value};
    }
  }
}

@include utility-border-width();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include utility-border-width(#{$name}-);
    }
  }
}