/*

	Border width

*/

@mixin generateBorderWidth($breakpoint: null) {
  @each $key, $value in $normal-values {
  	.#{$breakpoint}border-#{$key} {
  		border-width: #{$value};
  	}
  }

	@each $key, $value in $normal-values {
  	.#{$breakpoint}border-t-#{$key} {
  		border-top-width: #{$value};
  	}

  	.#{$breakpoint}border-r-#{$key} {
  		border-right-width: #{$value};
  	}

  	.#{$breakpoint}border-b-#{$key} {
  		border-bottom-width: #{$value};
  	}

  	.#{$breakpoint}border-l-#{$key} {
  		border-left-width: #{$value};    
  	}
  }

}

@include generateBorderWidth();
