/*

	Border radius

*/

@mixin utility-border-radius($breakpoint: null) {
  @each $name, $value in $border-radius {
    .#{$breakpoint}radius-#{$name} {
      border-radius: #{$value};
    }
  }

	.#{$breakpoint}radius-top { 
		border-bottom-left-radius: 0; 
		border-bottom-right-radius: 0; 
	}
	
	.#{$breakpoint}radius-right { 
		border-top-left-radius: 0; 
		border-bottom-left-radius: 0; 
	}

	.#{$breakpoint}radius-bottom { 
		border-top-left-radius: 0; 
		border-top-right-radius: 0; 
	}

	.#{$breakpoint}radius-left { 
		border-top-right-radius: 0; 
		border-bottom-right-radius: 0; 
	}

}

@include utility-border-radius();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include utility-border-radius(#{$name}-);
    }
  }
}