/*

	Colors

*/

.white { color: #fff; }
.near-white { color: #f4f4f4; }
.light-gray { color: #aaa; }
.silver { color: #999; }
.gray { color: #777 ; }
.mid-gray { color: #555; }
.dark-gray { color: #333; }
.near-black { color: #111; }
.black { color: #000; }
.aqua { color: #33FFE3; }
.yellow { color: #ffec1a; }
.washed-yellow { color: #fff7a3; }
.navy { color: #001542; }
.dark-blue { color: #002774 }
.blue { color: #1976d2; }
.light-blue { color: #2196f3; }
.washed-blue { color: #c2e2fb; }
.green { color: #388e3c; }
.light-green { color: #4caf50; }
.washed-green { color: #c8e6c9; }
.orange { color: #ffa000; }
.light-orange { color: #ffc107; }
.washed-orange { color: #ffecb3; }
.red { color: #d32f2f; }
.light-red { color: #f44336; }
.washed-red { color: #ffcdd2; }
.purple { color: #800055; }
.pink { color: #ff748c; }
.light-pink { color: #ffafbd; }

.b-transparent { border-color: transparent; }
.b-white { border-color: #fff; }
.b-near-white { border-color: #f4f4f4; }
.b-light-gray { border-color: #aaa; }
.b-silver { border-color: #999; }
.b-gray { border-color: #777 ; }
.b-mid-gray { border-color: #555; }
.b-dark-gray { border-color: #333; }
.b-near-black { border-color: #111; }
.b-black { border-color: #000; }
.b-aqua { border-color: #33FFE3; }
.b-yellow { border-color: #ffec1a; }
.b-washed-yellow { border-color: #fff7a3; }
.b-navy { border-color: #001542; }
.b-dark-blue { border-color: #002774; }
.b-blue { border-color: #1976d2; }
.b-light-blue { border-color: #2196f3; }
.b-washed-blue { border-color: #c2e2fb; }
.b-green { border-color: #388e3c; }
.b-light-green { border-color: #4caf50; }
.b-washed-green { border-color: #c8e6c9; }
.b-orange { border-color: #ffa000; }
.b-light-orange { border-color: #ffc107; }
.b-washed-orange { border-color: #ffecb3; }
.b-red { border-color: #d32f2f; }
.b-light-red { border-color: #f44336; }
.b-washed-red { border-color: #ffcdd2; }
.b-purple { border-color: #800055; }
.b-pink { border-color: #ff748c; }
.b-light-pink { border-color: #ffafbd; }

.bg-transparent { background-color: transparent; }
.bg-white { background-color: #fff; }
.bg-near-white { background-color: #f4f4f4; }
.bg-light-gray { background-color: #aaa; }
.bg-silver { background-color: #999; }
.bg-gray { background-color: #777 ; }
.bg-mid-gray { background-color: #555; }
.bg-dark-gray { background-color: #333; }
.bg-near-black { background-color: #111; }
.bg-black { background-color: #000; }
.bg-aqua { background-color: #33FFE3; }
.bg-yellow { background-color: #ffec1a; }
.bg-washed-yellow { background-color: #fff7a3; }
.bg-navy { background-color: #001542; }
.bg-dark-blue { background-color: #002774; }
.bg-blue { background-color: #1976d2; }
.bg-light-blue { background-color: #2196f3; }
.bg-washed-blue { background-color: #c2e2fb; }
.bg-green { background-color: #388e3c; }
.bg-light-green { background-color: #4caf50; }
.bg-washed-green { background-color: #c8e6c9; }
.bg-orange { background-color: #ffa000; }
.bg-light-orange { background-color: #ffc107; }
.bg-washed-orange { background-color: #ffecb3; }
.bg-red { background-color: #d32f2f; }
.bg-light-red { background-color: #f44336; }
.bg-washed-red { background-color: #ffcdd2; }
.bg-purple { background-color: #800055; }
.bg-pink { background-color: #ff748c; }
.bg-light-pink { background-color: #ffafbd; }

.hover-white:hover,
.hover-white:focus { color: #fff; }
.hover-near-white:hover,
.hover-near-white:focus { color: #f4f4f4; }
.hover-light-gray:hover,
.hover-light-gray:focus { color: #aaa; }
.hover-silver:hover,
.hover-silver:focus { color: #999; }
.hover-gray:hover,
.hover-gray:focus { color: #777 ; }
.hover-mid-gray:hover,
.hover-mid-gray:focus { color: #555; }
.hover-dark-gray:hover,
.hover-dark-gray:focus { color: #333; }
.hover-near-black:hover,
.hover-near-black:focus { color: #111; }
.hover-black:hover,
.hover-black:focus { color: #000; }
.hover-aqua:hover,
.hover-aqua:focus { color: #33FFE3; }
.hover-yellow:hover,
.hover-yellow:focus { color: #ffec1a; }
.hover-washed-yellow:hover,
.hover-washed-yellow:focus { color: #fff7a3; }
.hover-navy:hover,
.hover-navy:focus { color: #001542; }
.hover-dark-blue:hover,
.hover-dark-blue:focus { color: #002774; }
.hover-blue:hover,
.hover-blue:focus { color: #1976d2; }
.hover-light-blue:hover,
.hover-light-blue:focus { color: #2196f3; }
.hover-washed-blue:hover,
.hover-washed-blue:focus { color: #c2e2fb; }
.hover-green:hover,
.hover-green:focus { color: #388e3c; }
.hover-light-green:hover,
.hover-light-green:focus { color: #4caf50; }
.hover-washed-green:hover,
.hover-washed-green:focus { color: #c8e6c9; }
.hover-orange:hover,
.hover-orange:focus { color: #ffa000; }
.hover-light-orange:hover,
.hover-light-orange:focus { color: #ffc107; }
.hover-washed-orange:hover,
.hover-washed-orange:focus { color: #ffecb3; }
.hover-red:hover,
.hover-red:focus { color: #d32f2f; }
.hover-light-red:hover,
.hover-light-red:focus { color: #f44336; }
.hover-washed-red:hover,
.hover-washed-red:focus { color: #ffcdd2; }
.hover-purple:hover,
.hover-purple:focus { color: #800055; }
.hover-pink:hover,
.hover-pink:focus { color: #ff748c; }
.hover-light-pink:hover,
.hover-light-pink:focus { color: #ffafbd; }

.hover-b-white:hover,
.hover-b-white:focus { border-color: #fff; }
.hover-b-near-white:hover,
.hover-b-near-white:focus { border-color: #f4f4f4; }
.hover-b-light-gray:hover,
.hover-b-light-gray:focus { border-color: #aaa; }
.hover-b-silver:hover,
.hover-b-silver:focus { border-color: #999; }
.hover-b-gray:hover,
.hover-b-gray:focus { border-color: #777 ; }
.hover-b-mid-gray:hover,
.hover-b-mid-gray:focus { border-color: #555; }
.hover-b-dark-gray:hover,
.hover-b-dark-gray:focus { border-color: #333; }
.hover-b-near-black:hover,
.hover-b-near-black:focus { border-color: #111; }
.hover-b-black:hover,
.hover-b-black:focus { border-color: #000; }
.hover-b-aqua:hover,
.hover-b-aqua:focus { border-color: #33FFE3; }
.hover-b-yellow:hover,
.hover-b-yellow:focus { border-color: #ffec1a; }
.hover-b-washed-yellow:hover,
.hover-b-washed-yellow:focus { border-color: #fff7a3; }
.hover-b-navy:hover,
.hover-b-navy:focus { border-color: #001542; }
.hover-b-dark-blue:hover,
.hover-b-dark-blue:focus { border-color: #002774; }
.hover-b-blue:hover,
.hover-b-blue:focus { border-color: #1976d2; }
.hover-b-light-blue:hover,
.hover-b-light-blue:focus { border-color: #2196f3; }
.hover-b-washed-blue:hover,
.hover-b-washed-blue:focus { border-color: #c2e2fb; }
.hover-b-green:hover,
.hover-b-green:focus { border-color: #388e3c; }
.hover-b-light-green:hover,
.hover-b-light-green:focus { border-color: #4caf50; }
.hover-b-washed-green:hover,
.hover-b-washed-green:focus { border-color: #c8e6c9; }
.hover-b-orange:hover,
.hover-b-orange:focus { border-color: #ffa000; }
.hover-b-light-orange:hover,
.hover-b-light-orange:focus { border-color: #ffc107; }
.hover-b-washed-orange:hover,
.hover-b-washed-orange:focus { border-color: #ffecb3; }
.hover-b-red:hover,
.hover-b-red:focus { border-color: #d32f2f; }
.hover-b-light-red:hover,
.hover-b-light-red:focus { border-color: #f44336; }
.hover-b-washed-red:hover,
.hover-b-washed-red:focus { border-color: #ffcdd2; }
.hover-b-purple:hover,
.hover-b-purple:focus { border-color: #800055; }
.hover-b-pink:hover,
.hover-b-pink:focus { border-color: #ff748c; }
.hover-b-light-pink:hover,
.hover-b-light-pink:focus { border-color: #ffafbd; }

.hover-bg-white:hover,
.hover-bg-white:focus { background-color: #fff; }
.hover-bg-near-white:hover,
.hover-bg-near-white:focus { background-color: #f4f4f4; }
.hover-bg-light-gray:hover,
.hover-bg-light-gray:focus { background-color: #aaa; }
.hover-bg-silver:hover,
.hover-bg-silver:focus { background-color: #999; }
.hover-bg-gray:hover,
.hover-bg-gray:focus { background-color: #777 ; }
.hover-bg-mid-gray:hover,
.hover-bg-mid-gray:focus { background-color: #555; }
.hover-bg-dark-gray:hover,
.hover-bg-dark-gray:focus { background-color: #333; }
.hover-bg-near-black:hover,
.hover-bg-near-black:focus { background-color: #111; }
.hover-bg-black:hover,
.hover-bg-black:focus { background-color: #000; }
.hover-bg-aqua:hover,
.hover-bg-aqua:focus { background-color: #33FFE3; }
.hover-bg-yellow:hover,
.hover-bg-yellow:focus { background-color: #ffec1a; }
.hover-bg-washed-yellow:hover,
.hover-bg-washed-yellow:focus { background-color: #fff7a3; }
.hover-bg-navy:hover,
.hover-bg-navy:focus { background-color: #001542; }
.hover-bg-dark-blue:hover,
.hover-bg-dark-blue:focus { background-color: #002774; }
.hover-bg-blue:hover,
.hover-bg-blue:focus { background-color: #1976d2; }
.hover-bg-light-blue:hover,
.hover-bg-light-blue:focus { background-color: #2196f3; }
.hover-bg-washed-blue:hover,
.hover-bg-washed-blue:focus { background-color: #c2e2fb; }
.hover-bg-green:hover,
.hover-bg-green:focus { background-color: #388e3c; }
.hover-bg-light-green:hover,
.hover-bg-light-green:focus { background-color: #4caf50; }
.hover-bg-washed-green:hover,
.hover-bg-washed-green:focus { background-color: #c8e6c9; }
.hover-bg-orange:hover,
.hover-bg-orange:focus { background-color: #ffa000; }
.hover-bg-light-orange:hover,
.hover-bg-light-orange:focus { background-color: #ffc107; }
.hover-bg-washed-orange:hover,
.hover-bg-washed-orange:focus { background-color: #ffecb3; }
.hover-bg-red:hover,
.hover-bg-red:focus { background-color: #d32f2f; }
.hover-bg-light-red:hover,
.hover-bg-light-red:focus { background-color: #f44336; }
.hover-bg-washed-red:hover,
.hover-bg-washed-red:focus { background-color: #ffcdd2; }
.hover-bg-purple:hover,
.hover-bg-purple:focus { background-color: #800055; }
.hover-bg-pink:hover,
.hover-bg-pink:focus { background-color: #ff748c; }
.hover-bg-light-pink:hover,
.hover-bg-light-pink:focus { background-color: #ffafbd; }

.white-05 { color: rgba(255, 255, 255, 0.05); }
.white-10 { color: rgba(255, 255, 255, 0.1); }
.white-20 { color: rgba(255, 255, 255, 0.2); }
.white-30 { color: rgba(255, 255, 255, 0.3); }
.white-40 { color: rgba(255, 255, 255, 0.4); }
.white-50 { color: rgba(255, 255, 255, 0.5); }
.white-60 { color: rgba(255, 255, 255, 0.6); }
.white-70 { color: rgba(255, 255, 255, 0.7); }
.white-80 { color: rgba(255, 255, 255, 0.8); }
.white-90 { color: rgba(255, 255, 255, 0.9); }
.black-05 { color: rgba(0, 0, 0, 0.05); }
.black-10 { color: rgba(0, 0, 0, 0.1); }
.black-20 { color: rgba(0, 0, 0, 0.2); }
.black-30 { color: rgba(0, 0, 0, 0.3); }
.black-40 { color: rgba(0, 0, 0, 0.4); }
.black-50 { color: rgba(0, 0, 0, 0.5); }
.black-60 { color: rgba(0, 0, 0, 0.6); }
.black-70 { color: rgba(0, 0, 0, 0.7); }
.black-80 { color: rgba(0, 0, 0, 0.8); }
.black-90 { color: rgba(0, 0, 0, 0.9); }
.b-white-05 { border-color: rgba(255, 255, 255, 0.05); }
.b-white-10 { border-color: rgba(255, 255, 255, 0.1); }
.b-white-20 { border-color: rgba(255, 255, 255, 0.2); }
.b-white-30 { border-color: rgba(255, 255, 255, 0.3); }
.b-white-40 { border-color: rgba(255, 255, 255, 0.4); }
.b-white-50 { border-color: rgba(255, 255, 255, 0.5); }
.b-white-60 { border-color: rgba(255, 255, 255, 0.6); }
.b-white-70 { border-color: rgba(255, 255, 255, 0.7); }
.b-white-80 { border-color: rgba(255, 255, 255, 0.8); }
.b-white-90 { border-color: rgba(255, 255, 255, 0.9); }
.b-black-05 { border-color: rgba(0, 0, 0, 0.05); }
.b-black-10 { border-color: rgba(0, 0, 0, 0.1); }
.b-black-20 { border-color: rgba(0, 0, 0, 0.2); }
.b-black-30 { border-color: rgba(0, 0, 0, 0.3); }
.b-black-40 { border-color: rgba(0, 0, 0, 0.4); }
.b-black-50 { border-color: rgba(0, 0, 0, 0.5); }
.b-black-60 { border-color: rgba(0, 0, 0, 0.6); }
.b-black-70 { border-color: rgba(0, 0, 0, 0.7); }
.b-black-80 { border-color: rgba(0, 0, 0, 0.8); }
.b-black-90 { border-color: rgba(0, 0, 0, 0.9); }
.bg-white-05 { background-color: rgba(255, 255, 255, 0.05); }
.bg-white-10 { background-color: rgba(255, 255, 255, 0.1); }
.bg-white-20 { background-color: rgba(255, 255, 255, 0.2); }
.bg-white-30 { background-color: rgba(255, 255, 255, 0.3); }
.bg-white-40 { background-color: rgba(255, 255, 255, 0.4); }
.bg-white-50 { background-color: rgba(255, 255, 255, 0.5); }
.bg-white-60 { background-color: rgba(255, 255, 255, 0.6); }
.bg-white-70 { background-color: rgba(255, 255, 255, 0.7); }
.bg-white-80 { background-color: rgba(255, 255, 255, 0.8); }
.bg-white-90 { background-color: rgba(255, 255, 255, 0.9); }
.bg-black-05 { background-color: rgba(0, 0, 0, 0.05); }
.bg-black-10 { background-color: rgba(0, 0, 0, 0.1); }
.bg-black-20 { background-color: rgba(0, 0, 0, 0.2); }
.bg-black-30 { background-color: rgba(0, 0, 0, 0.3); }
.bg-black-40 { background-color: rgba(0, 0, 0, 0.4); }
.bg-black-50 { background-color: rgba(0, 0, 0, 0.5); }
.bg-black-60 { background-color: rgba(0, 0, 0, 0.6); }
.bg-black-70 { background-color: rgba(0, 0, 0, 0.7); }
.bg-black-80 { background-color: rgba(0, 0, 0, 0.8); }
.bg-black-90 { background-color: rgba(0, 0, 0, 0.9); }
