/*

	Colors

*/

@each $colorKey, $colorValue in $colors {

	.#{map-get($colors-name, "color")}-#{$colorKey} {
		color: #{$colorValue};
	}

	.#{map-get($colors-name, "border")}-#{$colorKey} {
		border-color: #{$colorValue};
	}

	.#{map-get($colors-name, "background")}-#{$colorKey} {
		background-color: #{$colorValue};
	}

	.hover-#{map-get($colors-name, "color")}-#{$colorKey} {
		&:hover,
		&:focus {
			color: #{$colorValue};
		}
	}

	.hover-#{map-get($colors-name, "border")}-#{$colorKey} {
		&:hover,
		&:focus {
			border-color: #{$colorValue};
		}
	}

	.hover-#{map-get($colors-name, "background")}-#{$colorKey} {
		&:hover,
		&:focus {
			background-color: #{$colorValue};
		}
	}

}

.#{map-get($colors-name, "color")}-white-05 { color: rgba(255, 255, 255, 0.05); }
.#{map-get($colors-name, "color")}-white-10 { color: rgba(255, 255, 255, 0.1); }
.#{map-get($colors-name, "color")}-white-20 { color: rgba(255, 255, 255, 0.2); }
.#{map-get($colors-name, "color")}-white-30 { color: rgba(255, 255, 255, 0.3); }
.#{map-get($colors-name, "color")}-white-40 { color: rgba(255, 255, 255, 0.4); }
.#{map-get($colors-name, "color")}-white-50 { color: rgba(255, 255, 255, 0.5); }
.#{map-get($colors-name, "color")}-white-60 { color: rgba(255, 255, 255, 0.6); }
.#{map-get($colors-name, "color")}-white-70 { color: rgba(255, 255, 255, 0.7); }
.#{map-get($colors-name, "color")}-white-80 { color: rgba(255, 255, 255, 0.8); }
.#{map-get($colors-name, "color")}-white-90 { color: rgba(255, 255, 255, 0.9); }
.#{map-get($colors-name, "color")}-black-05 { color: rgba(0, 0, 0, 0.05); }
.#{map-get($colors-name, "color")}-black-10 { color: rgba(0, 0, 0, 0.1); }
.#{map-get($colors-name, "color")}-black-20 { color: rgba(0, 0, 0, 0.2); }
.#{map-get($colors-name, "color")}-black-30 { color: rgba(0, 0, 0, 0.3); }
.#{map-get($colors-name, "color")}-black-40 { color: rgba(0, 0, 0, 0.4); }
.#{map-get($colors-name, "color")}-black-50 { color: rgba(0, 0, 0, 0.5); }
.#{map-get($colors-name, "color")}-black-60 { color: rgba(0, 0, 0, 0.6); }
.#{map-get($colors-name, "color")}-black-70 { color: rgba(0, 0, 0, 0.7); }
.#{map-get($colors-name, "color")}-black-80 { color: rgba(0, 0, 0, 0.8); }
.#{map-get($colors-name, "color")}-black-90 { color: rgba(0, 0, 0, 0.9); }
.#{map-get($colors-name, "border")}-white-05 { border-color: rgba(255, 255, 255, 0.05); }
.#{map-get($colors-name, "border")}-white-10 { border-color: rgba(255, 255, 255, 0.1); }
.#{map-get($colors-name, "border")}-white-20 { border-color: rgba(255, 255, 255, 0.2); }
.#{map-get($colors-name, "border")}-white-30 { border-color: rgba(255, 255, 255, 0.3); }
.#{map-get($colors-name, "border")}-white-40 { border-color: rgba(255, 255, 255, 0.4); }
.#{map-get($colors-name, "border")}-white-50 { border-color: rgba(255, 255, 255, 0.5); }
.#{map-get($colors-name, "border")}-white-60 { border-color: rgba(255, 255, 255, 0.6); }
.#{map-get($colors-name, "border")}-white-70 { border-color: rgba(255, 255, 255, 0.7); }
.#{map-get($colors-name, "border")}-white-80 { border-color: rgba(255, 255, 255, 0.8); }
.#{map-get($colors-name, "border")}-white-90 { border-color: rgba(255, 255, 255, 0.9); }
.#{map-get($colors-name, "border")}-black-05 { border-color: rgba(0, 0, 0, 0.05); }
.#{map-get($colors-name, "border")}-black-10 { border-color: rgba(0, 0, 0, 0.1); }
.#{map-get($colors-name, "border")}-black-20 { border-color: rgba(0, 0, 0, 0.2); }
.#{map-get($colors-name, "border")}-black-30 { border-color: rgba(0, 0, 0, 0.3); }
.#{map-get($colors-name, "border")}-black-40 { border-color: rgba(0, 0, 0, 0.4); }
.#{map-get($colors-name, "border")}-black-50 { border-color: rgba(0, 0, 0, 0.5); }
.#{map-get($colors-name, "border")}-black-60 { border-color: rgba(0, 0, 0, 0.6); }
.#{map-get($colors-name, "border")}-black-70 { border-color: rgba(0, 0, 0, 0.7); }
.#{map-get($colors-name, "border")}-black-80 { border-color: rgba(0, 0, 0, 0.8); }
.#{map-get($colors-name, "border")}-black-90 { border-color: rgba(0, 0, 0, 0.9); }
.#{map-get($colors-name, "background")}-white-05 { background-color: rgba(255, 255, 255, 0.05); }
.#{map-get($colors-name, "background")}-white-10 { background-color: rgba(255, 255, 255, 0.1); }
.#{map-get($colors-name, "background")}-white-20 { background-color: rgba(255, 255, 255, 0.2); }
.#{map-get($colors-name, "background")}-white-30 { background-color: rgba(255, 255, 255, 0.3); }
.#{map-get($colors-name, "background")}-white-40 { background-color: rgba(255, 255, 255, 0.4); }
.#{map-get($colors-name, "background")}-white-50 { background-color: rgba(255, 255, 255, 0.5); }
.#{map-get($colors-name, "background")}-white-60 { background-color: rgba(255, 255, 255, 0.6); }
.#{map-get($colors-name, "background")}-white-70 { background-color: rgba(255, 255, 255, 0.7); }
.#{map-get($colors-name, "background")}-white-80 { background-color: rgba(255, 255, 255, 0.8); }
.#{map-get($colors-name, "background")}-white-90 { background-color: rgba(255, 255, 255, 0.9); }
.#{map-get($colors-name, "background")}-black-05 { background-color: rgba(0, 0, 0, 0.05); }
.#{map-get($colors-name, "background")}-black-10 { background-color: rgba(0, 0, 0, 0.1); }
.#{map-get($colors-name, "background")}-black-20 { background-color: rgba(0, 0, 0, 0.2); }
.#{map-get($colors-name, "background")}-black-30 { background-color: rgba(0, 0, 0, 0.3); }
.#{map-get($colors-name, "background")}-black-40 { background-color: rgba(0, 0, 0, 0.4); }
.#{map-get($colors-name, "background")}-black-50 { background-color: rgba(0, 0, 0, 0.5); }
.#{map-get($colors-name, "background")}-black-60 { background-color: rgba(0, 0, 0, 0.6); }
.#{map-get($colors-name, "background")}-black-70 { background-color: rgba(0, 0, 0, 0.7); }
.#{map-get($colors-name, "background")}-black-80 { background-color: rgba(0, 0, 0, 0.8); }
.#{map-get($colors-name, "background")}-black-90 { background-color: rgba(0, 0, 0, 0.9); }