// Configuration

$mq-breakpoints: (
  sm: 576px, // 36em
	md: 768px, // 48em
	lg: 992px, // 62em
	xl: 1200px // 75em
);

$grid: (12);

//  Values for 
//    padding,
//    margin,
//    width,
//    min-height,
//    height,
//    max-height,
//    coordinates

$normal-values: (
  0: 0,
  1: .0625rem, 
  2: .125rem, 
  3: .25rem, 
  4: .5rem, 
  5: 1rem, 
  6: 2rem, 
  7: 4rem, 
  8: 8rem, 
  9: 16rem
);

// Values for
//    min-width
//    max-width

$extra-normal-values: join($normal-values, (
  10: 32rem,
  11: 48rem,
  12: 64rem,
  13: 96rem
));

$font-sizes: (
  7: .75rem,
  6: .875rem,
  5: 1rem,
  4: 1.25rem,
  3: 1.5rem,
  2: 2rem,
  1: 3rem,
  headline: 6rem
);

$box-shadow: (
  none: none,
  1: '0 2px 4px 0 rgba(0, 0, 0, 0.10)',
  2: '0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 2px 4px 0 rgba(0, 0, 0, 0.08)',
  3: '0 12px 24px 0 rgba(0, 0, 0, 0.15), 0 4px 12px 0 rgba(0, 0, 0, 0.12)'
);

$colors: (
  'current-color': currentColor,
  'transparent': 'transparent',
  'black': #000,
  'white': #fff,
  'gray0': #f8f9f9,
  'gray1': #ebedee,
  'gray2': #dee1e3,
  'gray3': #cfd3d6,
  'gray4': #bec4c8,
  'gray5': #acb4b9,
  'gray6': #97a1a7,
  'gray7': #7f8a93,
  'gray8': #5f6e78,
  'gray9': #374047,
  'red': #ee4430,
  'dark-orange': #fa7b45,
  'orange': #fb9f42,
  'yellow': #fcc83a,
  'light-yellow': #fcf545,
  'light-green': #75bb36,
  'green': #00953c,
  'teal': #00a099,
  'light-blue': #006bbd,
  'blue': #0f3298,
  'purple': #5f2384,
  'violet': #b5328c
);
