/*

	Coordinates

*/

@mixin generateCoordinates($breakpoint: null) {
  @each $key, $value in $normal-values {
		.#{$breakpoint}t-#{$key} { top: #{$value} }
		.#{$breakpoint}r-#{$key} { right: #{$value} }
		.#{$breakpoint}b-#{$key} { bottom: #{$value} }
		.#{$breakpoint}l-#{$key} { left: #{$value} }

		@if $value != 0 { 
      .#{$breakpoint}tn-#{$key} { top: ($value * -1); }
      .#{$breakpoint}rn-#{$key} { right: ($value * -1); }
      .#{$breakpoint}bn-#{$key} { bottom: ($value * -1); }
      .#{$breakpoint}ln-#{$key} { left: ($value * -1); }
    }
  }
}

@include generateCoordinates();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateCoordinates(#{$name}-);
    }
  }
}
