/*

	Coordinates

*/

@mixin generateCoordinates($breakpoint: null) {
  @each $key, $value in $normal-values {
		.#{$breakpoint}top-#{$key} { top: #{$value} }
		.#{$breakpoint}right-#{$key} { right: #{$value} }
		.#{$breakpoint}bottom-#{$key} { bottom: #{$value} }
		.#{$breakpoint}left-#{$key} { left: #{$value} }

		@if $value != 0 { 
      .#{$breakpoint}topn-#{$key} { top: ($value * -1); }
      .#{$breakpoint}rightn-#{$key} { right: ($value * -1); }
      .#{$breakpoint}bottomn-#{$key} { bottom: ($value * -1); }
      .#{$breakpoint}leftn-#{$key} { left: ($value * -1); }
    }
  }
}

@include generateCoordinates();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateCoordinates(#{$name}-);
    }
  }
}
