/*

	Cursor

*/

@mixin generateCursor($breakpoint: null) {
	.#{$breakpoint}c-pointer { cursor: pointer; }
	.#{$breakpoint}c-wait { cursor: wait; }
	.#{$breakpoint}c-auto { cursor: auto; }
}

@include generateCursor();
