/*

	Display

*/

@mixin generateDisplay($breakpoint: null) {
	.#{$breakpoint}block { display: block; }
	.#{$breakpoint}inline { display: inline; }
	.#{$breakpoint}inline-block { display: inline-block; }
	.#{$breakpoint}table { display: table; }
	.#{$breakpoint}table-row { display: table-row; }
	.#{$breakpoint}table-cell { display: table-cell; }
	.#{$breakpoint}hidden { display: none; }
}

@include generateDisplay();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateDisplay(#{$name}-);
    }
  }
}
