/*

	Display

*/

@mixin utility-display($breakpoint: null) {
  .#{$breakpoint}d-none { display: none; }
  .#{$breakpoint}d-block { display: block; }
  .#{$breakpoint}d-inline-block { display: inline-block; }
  .#{$breakpoint}d-inline { display: inline; }
  .#{$breakpoint}d-table { display: table; }
  .#{$breakpoint}d-cell { display: table-cell; }
}

@include utility-display();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include utility-display(#{$name}-);
    }
  }
}