/*

	Float

*/

@mixin generateFloat($breakpoint: null) {
	.#{$breakpoint}push-none { float: none; }
	.#{$breakpoint}push-left { float: left; }
	.#{$breakpoint}push-right { float: right; }
}

@include generateFloat();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateFloat(#{$name}-);
    }
  }
}
