/*

	Font weight

*/

@mixin utility-font-weight($breakpoint: null) {
  .#{$breakpoint}font-lighter {font-weight: lighter; }
  .#{$breakpoint}font-normal {font-weight: normal; }
  .#{$breakpoint}font-bolder {font-weight: bolder; }
  .#{$breakpoint}font-bold {font-weight: bold; }
  .#{$breakpoint}font-100 {font-weight: 100; }
  .#{$breakpoint}font-200 {font-weight: 200; }
  .#{$breakpoint}font-300 {font-weight: 300; }
  .#{$breakpoint}font-400 {font-weight: 400; }
  .#{$breakpoint}font-500 {font-weight: 500; }
  .#{$breakpoint}font-600 {font-weight: 600; }
  .#{$breakpoint}font-700 {font-weight: 700; }
  .#{$breakpoint}font-800 {font-weight: 800; }
  .#{$breakpoint}font-900 {font-weight: 900; }
}

@include utility-font-weight();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include utility-font-weight(#{$name}-);
    }
  }
}