/*

	Font family

*/

@mixin generateFontFamily($breakpoint: null) {
	.font-family-inherit { font-family: inherit; }
	.font-size-inherit { font-size: inherit; }
	.font-color-inherit { color: inherit; }
	.sans-serif { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" }
	.georgia { font-family: georgia, serif; }
	.verdana { font-family: verdana, sans-serif; }
	.times { font-family: "Times New Roman", Times, serif; }
	.monospace { font-family: Consolas, monaco, monospace; }
}

@include generateFontFamily();
