/*

  Forms

*/

label,
input,
button,
select,
option,
legend,
fieldset,
textarea {
  background-color: transparent;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
}

.input-reset { -webkit-appearance: none; }
