/*

  Forms

*/

label,
input,
button,
select,
legend,
fieldset,
textarea {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
}

input,
select,
textarea {
	background-color: transparent;
	border-style: solid;
}

.input-reset {
	-webkit-appearance: none;
	-moz-appearance: none;
}
