/*

	Forms

*/

label,
input,
button,
select,
legend,
fieldset,
textarea {
  box-sizing: border-box;
	vertical-align: middle;
	font-size: 100%;
}

select,
textarea {
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
}

.input-reset {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.button-reset {
	border: 0;
}
