/*

	Gradients

		Transparent

*/

.grad_09 { background: linear-gradient(to top, rgba(0, 0, 0, .9), transparent); }
.grad_08 { background: linear-gradient(to top, rgba(0, 0, 0, .8), transparent); }
.grad_07 { background: linear-gradient(to top, rgba(0, 0, 0, .7), transparent); }
.grad_06 { background: linear-gradient(to top, rgba(0, 0, 0, .6), transparent); }
.grad_05 { background: linear-gradient(to top, rgba(0, 0, 0, .5), transparent); }
.grad_04 { background: linear-gradient(to top, rgba(0, 0, 0, .4), transparent); }
.grad_03 { background: linear-gradient(to top, rgba(0, 0, 0, .3), transparent); }
.grad_02 { background: linear-gradient(to top, rgba(0, 0, 0, .2), transparent); }