/*

	Grid

		mw = max-width
		vw = viewport width
	
		Widths         = [10, 20, 25, 30, 33, 40, 45, 50, 60, 66, 70, 75, 80, 90, 100]
		Max width      = [1, 2, 4, 8, 16, 32, 48, 64, 80, 90]
		Viewport width = [50, 100]

*/

.col_auto { width: auto; }
.col_10 { width: 10%; }
.col_20 { width: 20%; }
.col_25 { width: 25%; }
.col_30 { width: 30%; }
.col_33 { width: 33%; }
.col_40 { width: 40%; }
.col_45 { width: 45%; }
.col_50 { width: 50%; }
.col_60 { width: 60%; }
.col_66 { width: 66%; }
.col_70 { width: 70%; }
.col_75 { width: 75%; }
.col_80 { width: 80%; }
.col_90 { width: 90%; }
.col_100 { width: 100%; }
.w_1 { width: 1rem; }
.w_2 { width: 2rem; }
.w_4 { width: 4rem; }
.w_8 { width: 8rem; }
.mw_1 { max-width: 1rem; }
.mw_2 { max-width: 2rem; }
.mw_4 { max-width: 4rem; }
.mw_8 { max-width: 8rem; }
.mw_16 { max-width: 16rem; }
.mw_32 { max-width: 32rem; }
.mw_48 { max-width: 48rem; }
.mw_64 { max-width: 64rem; }
.mw_80 { max-width: 80rem; }
.mw_90 { max-width: 90rem; }
.vw_50 { width: 50vw; }
.vw_100 { width: 100vw; }

@include media(map-get($mqs, "sm")) {
	
	.sm_col_auto { width: auto; }
	.sm_col_10 { width: 10%; }
	.sm_col_20 { width: 20%; }
	.sm_col_25 { width: 25%; }
	.sm_col_30 { width: 30%; }
	.sm_col_33 { width: 33%; }
	.sm_col_40 { width: 40%; }
	.sm_col_45 { width: 45%; }
	.sm_col_50 { width: 50%; }
	.sm_col_60 { width: 60%; }
	.sm_col_66 { width: 66%; }
	.sm_col_70 { width: 70%; }
	.sm_col_75 { width: 75%; }
	.sm_col_80 { width: 80%; }
	.sm_col_90 { width: 90%; }
	.sm_col_100 { width: 100%; }
	.sm_w_1 { width: 1rem; }
	.sm_w_2 { width: 2rem; }
	.sm_w_4 { width: 4rem; }
	.sm_w_8 { width: 8rem; }
	.sm_mw_1 { max-width: 1rem; }
	.sm_mw_2 { max-width: 2rem; }
	.sm_mw_4 { max-width: 4rem; }
	.sm_mw_8 { max-width: 8rem; }
	.sm_mw_16 { max-width: 16rem; }
	.sm_mw_32 { max-width: 32rem; }
	.sm_mw_48 { max-width: 48rem; }
	.sm_mw_64 { max-width: 64rem; }
	.sm_mw_80 { max-width: 80rem; }
	.sm_mw_90 { max-width: 90rem; }
	.sm_vw_50 { width: 50vw; }
	.sm_vw_100 { width: 100vw; }

}

@include media(map-get($mqs, "md")) {
	
	.md_col_auto { width: auto; }
	.md_col_10 { width: 10%; }
	.md_col_20 { width: 20%; }
	.md_col_25 { width: 25%; }
	.md_col_30 { width: 30%; }
	.md_col_33 { width: 33%; }
	.md_col_40 { width: 40%; }
	.md_col_45 { width: 45%; }
	.md_col_50 { width: 50%; }
	.md_col_60 { width: 60%; }
	.md_col_66 { width: 66%; }
	.md_col_70 { width: 70%; }
	.md_col_75 { width: 75%; }
	.md_col_80 { width: 80%; }
	.md_col_90 { width: 90%; }
	.md_col_100 { width: 100%; }
	.md_w_1 { width: 1rem; }
	.md_w_2 { width: 2rem; }
	.md_w_4 { width: 4rem; }
	.md_w_8 { width: 8rem; }
	.md_mw_1 { max-width: 1rem; }
	.md_mw_2 { max-width: 2rem; }
	.md_mw_4 { max-width: 4rem; }
	.md_mw_8 { max-width: 8rem; }
	.md_mw_16 { max-width: 16rem; }
	.md_mw_32 { max-width: 32rem; }
	.md_mw_48 { max-width: 48rem; }
	.md_mw_64 { max-width: 64rem; }
	.md_mw_80 { max-width: 80rem; }
	.md_mw_90 { max-width: 90rem; }
	.md_vw_50 { width: 50vw; }
	.md_vw_100 { width: 100vw; }

}

@include media(map-get($mqs, "lg")) {

	.lg_col_auto { width: auto; }
	.lg_col_10 { width: 10%; }
	.lg_col_20 { width: 20%; }
	.lg_col_25 { width: 25%; }
	.lg_col_30 { width: 30%; }
	.lg_col_33 { width: 33%; }
	.lg_col_40 { width: 40%; }
	.lg_col_45 { width: 45%; }
	.lg_col_50 { width: 50%; }
	.lg_col_60 { width: 60%; }
	.lg_col_66 { width: 66%; }
	.lg_col_70 { width: 70%; }
	.lg_col_75 { width: 75%; }
	.lg_col_80 { width: 80%; }
	.lg_col_90 { width: 90%; }
	.lg_col_100 { width: 100%; }
	.lg_w_1 { width: 1rem; }
	.lg_w_2 { width: 2rem; }
	.lg_w_4 { width: 4rem; }
	.lg_w_8 { width: 8rem; }
	.lg_mw_1 { max-width: 1rem; }
	.lg_mw_2 { max-width: 2rem; }
	.lg_mw_4 { max-width: 4rem; }
	.lg_mw_8 { max-width: 8rem; }
	.lg_mw_16 { max-width: 16rem; }
	.lg_mw_32 { max-width: 32rem; }
	.lg_mw_48 { max-width: 48rem; }
	.lg_mw_64 { max-width: 64rem; }
	.lg_mw_80 { max-width: 80rem; }
	.lg_mw_90 { max-width: 90rem; }
	.lg_vw_50 { width: 50vw; }
	.lg_vw_100 { width: 100vw; }

}