/*

	Height

		h  = height (%)
		vh = viewport height (vh unit)

		height = [1, 2, 4, 8, 25, 50, 100]
		min height = [50, 100]

*/

.h-auto { height: auto; }
.h-1 { height: 1rem; }
.h-2 { height: 2rem; }
.h-4 { height: 4rem; }
.h-8 { height: 8rem; }
.h-25 { height: 25%; }
.h-50 { height: 50%; }
.h-100 { height: 100%; }
.min-h-100 { min-height: 100%; }
.vh-100 { height: 100vh; }
.min-vh-100 { min-height: 100vh; }

@include media(map-get($mqs, "sm")) {
	
	.sm-h-auto { height: auto; }
	.sm-h-1 { height: 1rem; }
	.sm-h-2 { height: 2rem; }
	.sm-h-4 { height: 4rem; }
	.sm-h-8 { height: 8rem; }
	.sm-h-25 { height: 25%; }
	.sm-h-50 { height: 50%; }
	.sm-h-100 { height: 100%; }
	.sm-min-h-100 { min-height: 100%; }
	.sm-vh-100 { height: 100vh; }
	.sm-mind-vh-100 { min-height: 100vh; }

}

@include media(map-get($mqs, "md")) {
	
	.md-h-auto { height: auto; }
	.md-h-1 { height: 1rem; }
	.md-h-2 { height: 2rem; }
	.md-h-4 { height: 4rem; }
	.md-h-8 { height: 8rem; }
	.md-h-25 { height: 25%; }
	.md-h-50 { height: 50%; }
	.md-h-100 { height: 100%; }
	.md-min-h-100 { min-height: 100%; }
	.md-vh-100 { height: 100vh; }
	.md-min-vh-100 { min-height: 100vh; }

}

@include media(map-get($mqs, "lg")) {
	
	.lg-h-auto { height: auto; }
	.lg-h-1 { height: 1rem; }
	.lg-h-2 { height: 2rem; }
	.lg-h-4 { height: 4rem; }
	.lg-h-8 { height: 8rem; }
	.lg-h-25 { height: 25%; }
	.lg-h-50 { height: 50%; }
	.lg-h-100 { height: 100%; }
	.lg-min-h-100 { min-height: 100%; }
	.lg-vh-100 { height: 100vh; }
	.lg-min-vh-100 { min-height: 100vh; }

}

@include media(map-get($mqs, "xl")) {
	
	.xl-h-auto { height: auto; }
	.xl-h-1 { height: 1rem; }
	.xl-h-2 { height: 2rem; }
	.xl-h-4 { height: 4rem; }
	.xl-h-8 { height: 8rem; }
	.xl-h-25 { height: 25%; }
	.xl-h-50 { height: 50%; }
	.xl-h-100 { height: 100%; }
	.xl-min-h-100 { min-height: 100%; }
	.xl-vh-100 { height: 100vh; }
	.xl-min-vh-100 { min-height: 100vh; }

}