/*

	Height

		h  = height (%)
		vh = viewport height (vh unit)

		height = [25, 50, 100]

*/

.h_25 { height: 25%; }
.h_50 { height: 50%; }
.h_100 { height: 100%; }
.min_h_100 { min-height: 100%; }
.vh_100 { height: 100vh; }
.min_vh_100 { min-height: 100vh; }

@include media(map-get($mqs, "sm")) {

	.sm_h_25 { height: 25%; }
	.sm_h_50 { height: 50%; }
	.sm_h_100 { height: 100%; }
	.sm_min_h_100 { min-height: 100%; }
	.sm_vh_100 { height: 100vh; }
	.sm_mind_vh_100 { min-height: 100vh; }

}

@include media(map-get($mqs, "md")) {

	.md_h_25 { height: 25%; }
	.md_h_50 { height: 50%; }
	.md_h_100 { height: 100%; }
	.md_min_h_100 { min-height: 100%; }
	.md_vh_100 { height: 100vh; }
	.md_min_vh_100 { min-height: 100vh; }

}

@include media(map-get($mqs, "lg")) {

	.lg_h_25 { height: 25%; }
	.lg_h_50 { height: 50%; }
	.lg_h_100 { height: 100%; }
	.lg_min_h_100 { min-height: 100%; }
	.lg_vh_100 { height: 100vh; }
	.lg_min_vh_100 { min-height: 100vh; }

}