/*

	Height

*/

@mixin generateHeight($breakpoint: null) {
  .#{$breakpoint}h-auto { height: auto; }

  @each $key, $value in $normal-values {
  	.#{$breakpoint}h-#{$key} {
  		height: #{$value};
  	}
  }
	
	.#{$breakpoint}h-50 { height: 50%; }
	.#{$breakpoint}h-100 { height: 100%; }
  .#{$breakpoint}h-50vh { height: 50vh; }
	.#{$breakpoint}h-100vh { height: 100vh; }

}

@include generateHeight();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateHeight(#{$name}-);
    }
  }
}
