/*

	Letter spacing

*/

@mixin utility-letter-spacing($breakpoint: null) {
  .#{$breakpoint}tracked { letter-spacing: .1em; }
  .#{$breakpoint}tracked-tight { letter-spacing: -.05em; }
  .#{$breakpoint}tracked-wide { letter-spacing: .25em; }
}

@include utility-letter-spacing();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include utility-letter-spacing(#{$name}-);
    }
  }
}