/*

	Letter spacing

*/

@mixin generateLetterSpacing($breakpoint: null) {
	.#{$breakpoint}ls-normal { letter-spacing: normal; }
  .#{$breakpoint}ls-010 { letter-spacing: .1em; }
  .#{$breakpoint}ls-025 { letter-spacing: .25em; }
}

@include generateLetterSpacing();
