/*

	Min width

*/

@mixin generateMinWidth($breakpoint: null) {
  .#{$breakpoint}min-width-auto { min-width: auto; }

  @each $key, $value in $extra-normal-values {
  	.#{$breakpoint}min-width-#{$key} {
  		min-width: #{$value};
  	}
  }

  .#{$breakpoint}min-width-50 { min-width: 50%; }
	.#{$breakpoint}min-width-100 { min-width: 100%; }
  .#{$breakpoint}min-width-50vw { min-width: 50vw; }
	.#{$breakpoint}min-width-100vw { min-width: 100vw; }

}

@include generateMinWidth();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateMinWidth(#{$name}-);
    }
  }
}
