/*

	Min height

*/

@mixin generateMinHeight($breakpoint: null) {
  .#{$breakpoint}min-h-auto { min-height: auto; }

  @each $key, $value in $normal-values {
  	.#{$breakpoint}min-h-#{$key} {
  		min-height: #{$value};
  	}
  }

  .#{$breakpoint}min-h-50 { min-height: 50%; }
	.#{$breakpoint}min-h-100 { min-height: 100%; }
  .#{$breakpoint}min-h-50vh { min-height: 50vh; }
	.#{$breakpoint}min-h-100vh { min-height: 100vh; }

}

@include generateMinHeight();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateMinHeight(#{$name}-);
    }
  }
}
