/*

	Object fit

*/

@mixin utility-object-fit($breakpoint: null) {
  .#{$breakpoint}fit-fill { object-fit: fill; }
  .#{$breakpoint}fit-contain { object-fit: contain; }
  .#{$breakpoint}fit-scale { object-fit: scale-down; }
  .#{$breakpoint}fit-none { object-fit: none; }
}

@include utility-object-fit();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include utility-object-fit(#{$name}-);
    }
  }
}