/*

	Offset

*/

.offset-0 { margin-left: 0; }
.offset-10 { margin-left: 10%; }
.offset-20 { margin-left: 20%; }
.offset-25 { margin-left: 25%; }
.offset-30 { margin-left: 30%; }
.offset-33 { margin-left: 33%; }
.offset-40 { margin-left: 40%; }
.offset-45 { margin-left: 45%; }
.offset-50 { margin-left: 50%; }
.offset-60 { margin-left: 60%; }
.offset-66 { margin-left: 66%; }
.offset-70 { margin-left: 70%; }
.offset-75 { margin-left: 75%; }
.offset-80 { margin-left: 80%; }
.offset-90 { margin-left: 90%; }
.offset-100 { margin-left: 100%; }

@include breakpoint("sm") {

	.sm-offset-0 { margin-left: 0; }
	.sm-offset-10 { margin-left: 10%; }
	.sm-offset-20 { margin-left: 20%; }
	.sm-offset-25 { margin-left: 25%; }
	.sm-offset-30 { margin-left: 30%; }
	.sm-offset-33 { margin-left: 33%; }
	.sm-offset-40 { margin-left: 40%; }
	.sm-offset-45 { margin-left: 45%; }
	.sm-offset-50 { margin-left: 50%; }
	.sm-offset-60 { margin-left: 60%; }
	.sm-offset-66 { margin-left: 66%; }
	.sm-offset-70 { margin-left: 70%; }
	.sm-offset-75 { margin-left: 75%; }
	.sm-offset-80 { margin-left: 80%; }
	.sm-offset-90 { margin-left: 90%; }
	.sm-offset-100 { margin-left: 100%; }

}

@include breakpoint("md") {

	.sm-offset-0 { margin-left: 0; }
	.sm-offset-10 { margin-left: 10%; }
	.sm-offset-20 { margin-left: 20%; }
	.sm-offset-25 { margin-left: 25%; }
	.sm-offset-30 { margin-left: 30%; }
	.sm-offset-33 { margin-left: 33%; }
	.sm-offset-40 { margin-left: 40%; }
	.sm-offset-45 { margin-left: 45%; }
	.sm-offset-50 { margin-left: 50%; }
	.sm-offset-60 { margin-left: 60%; }
	.sm-offset-66 { margin-left: 66%; }
	.sm-offset-70 { margin-left: 70%; }
	.sm-offset-75 { margin-left: 75%; }
	.sm-offset-80 { margin-left: 80%; }
	.sm-offset-90 { margin-left: 90%; }
	.sm-offset-100 { margin-left: 100%; }

}

@include breakpoint("lg") {

	.lg-offset-0 { margin-left: 0; }
	.lg-offset-10 { margin-left: 10%; }
	.lg-offset-20 { margin-left: 20%; }
	.lg-offset-25 { margin-left: 25%; }
	.lg-offset-30 { margin-left: 30%; }
	.lg-offset-33 { margin-left: 33%; }
	.lg-offset-40 { margin-left: 40%; }
	.lg-offset-45 { margin-left: 45%; }
	.lg-offset-50 { margin-left: 50%; }
	.lg-offset-60 { margin-left: 60%; }
	.lg-offset-66 { margin-left: 66%; }
	.lg-offset-70 { margin-left: 70%; }
	.lg-offset-75 { margin-left: 75%; }
	.lg-offset-80 { margin-left: 80%; }
	.lg-offset-90 { margin-left: 90%; }
	.lg-offset-100 { margin-left: 100%; }

}

@include breakpoint("xl") {

	.xl-offset-0 { margin-left: 0; }
	.xl-offset-10 { margin-left: 10%; }
	.xl-offset-20 { margin-left: 20%; }
	.xl-offset-25 { margin-left: 25%; }
	.xl-offset-30 { margin-left: 30%; }
	.xl-offset-33 { margin-left: 33%; }
	.xl-offset-40 { margin-left: 40%; }
	.xl-offset-45 { margin-left: 45%; }
	.xl-offset-50 { margin-left: 50%; }
	.xl-offset-60 { margin-left: 60%; }
	.xl-offset-66 { margin-left: 66%; }
	.xl-offset-70 { margin-left: 70%; }
	.xl-offset-75 { margin-left: 75%; }
	.xl-offset-80 { margin-left: 80%; }
	.xl-offset-90 { margin-left: 90%; }
	.xl-offset-100 { margin-left: 100%; }

}
