/*

	Overflow

*/

@mixin generateOverflow($breakpoint: null) {
  .#{$breakpoint}o-visible { overflow: visible; }
  .#{$breakpoint}ox-visible { overflow-x: visible; }
  .#{$breakpoint}oy-visible { overflow-y: visible; }
  .#{$breakpoint}o-auto { overflow: auto; }
  .#{$breakpoint}ox-auto { overflow-x: auto; }
  .#{$breakpoint}oy-auto { overflow-y: auto; }
  .#{$breakpoint}o-hidden { overflow: hidden; }
  .#{$breakpoint}ox-hidden { overflow-x: hidden; }
  .#{$breakpoint}oy-hidden { overflow-y: hidden; }
  .#{$breakpoint}o-scroll { overflow: scroll; }
  .#{$breakpoint}ox-scroll { overflow-x: scroll; }
  .#{$breakpoint}oy-scroll { overflow-y: scroll; }
}

@include generateOverflow();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateOverflow(#{$name}-);
    }
  }
}
