/*

	Padding

*/

@include breakpoints {

	@each $paddingKey, $paddingValue in $padding {
	
		&#{$padding-name}-#{map-get($sides, "all")}-#{$paddingKey} {
			padding: #{$paddingValue};
		}

		&#{$padding-name}-#{map-get($sides, "top")}-#{$paddingKey} {
			padding-top: #{$paddingValue};
		}

		&#{$padding-name}-#{map-get($sides, "right")}-#{$paddingKey} {
			padding-right: #{$paddingValue};
		}

		&#{$padding-name}-#{map-get($sides, "bottom")}-#{$paddingKey} {
			padding-bottom: #{$paddingValue};
		}

		&#{$padding-name}-#{map-get($sides, "left")}-#{$paddingKey} {
			padding-left: #{$paddingValue};
		}

		&#{$padding-name}-#{map-get($sides, "vertical")}-#{$paddingKey} {
			padding-top: #{$paddingValue};
			padding-bottom: #{$paddingValue};
		}

		&#{$padding-name}-#{map-get($sides, "horizontal")}-#{$paddingKey} {
			padding-left: #{$paddingValue};
			padding-right: #{$paddingValue};
		}

	}

}