/*

	Parent

*/

@mixin utility-parent($breakpoint: null) {

	.#{$breakpoint}parent-measure p {
		max-width: 30rem;
		margin-bottom: 2rem;
	}	

	.#{$breakpoint}parent-measure-wide p { 
		max-width: 34rem;
		margin-bottom: 2rem;
	}

	.#{$breakpoint}parent-line-copy p { 
		line-height: 1.5;
	}

	.#{$breakpoint}parent-img-fluid img {
		max-width: 100%;
		height: auto;
	}	

	.#{$breakpoint}parent-img-full img {
		width: 100%;
		height: auto;
	}

	
}

@include utility-parent();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include utility-parent(#{$name}-);
    }
  }
}