/*

	Parent to child

*/

.parent-lh-title {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.25;
	}
}

.parent-lh-copy {
	p,
	ul,
	ol { 
		line-height: 1.5; 
	}
}

.parent-list {
	ol,
	ul {
		padding-left: 0;
		list-style-type: none;
	}
}

.parent-paragraph { 
	p + p {
		margin-bottom: 1.5em;
	}
}

.parent-measure-thick p { max-width: 34em; }
.parent-measure p { max-width: 30em; }
.parent-measure-tight p { max-width: 20em; }
.parent-img img { display: block; max-width: 100%; width: 100%; }