/*

	Basic reset

*/

html {
  box-sizing: border-box;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

canvas,
video,
iframe {
  max-width: 100%;
}

svg {
  max-height: 100%;
}

/*

  Link

*/

.link {
  text-decoration: none;
  transition: color 200ms ease-in;
  cursor: pointer;

  &:link,
  &:visited {
    transition: color 200ms ease-in;
  }

  &:hover {
    transition: color 200ms ease-in;
  }

  &:active {
    transition: color 200ms ease-in;
  }

  &:focus {
    transition: color 200ms ease-in;
  }

}

/*

  List

*/

.list { list-style-type: none; }
