/*

	States

*/

.overlay .overlay-item {
	opacity: 0;
	transition: opacity 200ms ease-in-out;

	&:hover,
	&:focus,
	&:active {
		opacity: 1;
	}
}

.hover-fade {
	opacity: 1;
	transition: opacity 200ms ease-in-out;

	&:hover {
		opacity: .5;
	}

}

.hover-text-underline {
	&:hover {
		text-decoration: underline;
	}
}

.pointer {
	&:hover {
		cursor: pointer;
	}
}

.bg-animate {
	transition: background-color 200ms ease-in-out;
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 200ms ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }
}