/*

  States

*/

.overlay .overlay_item {
	opacity: 0;
	transition: opacity 150ms ease-in;

	&:hover,
	&:focus,
	&:active {
		opacity: 1;
	}
}

.hover_opacity {
  transition: opacity 150ms ease-in;

  &:hover,
  &:focus,
  &:active {
    opacity: .750;
  }
}

.hover_underline {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.thick_hover_underline {
  padding-bottom: .20em;
  border-bottom: .20em solid transparent;

  &:hover,
  &:focus,
  &:active {
    border-bottom: .20em solid currentColor;
    transition: border-color 150ms ease-in;
  }
}

.pointer {
	&:hover {
		cursor: pointer;
	}
}

.bg_animate {
  &:hover,
  &:focus {
    transition: background-color 150ms ease-in;
  }
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 150ms ease-out;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }
}

.hover_shadow {
  transition: box-shadow 150ms ease-in;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  }
}

.hover_shadow_big {
  transition: box-shadow 150ms ease-in;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 1px 20px rgba(0, 0, 0, .3);
  }
}

.hover_grayscale {
  filter: grayscale(100%);
  transition: filter 150ms ease-in;
  
  &:hover,
  &:focus,
  &:active {
    filter: grayscale(0%);
  }
}