/*

	Table

*/

@mixin generateTable($breakpoint: null) {
	.table { border-collapse: collapse; border-spacing: 0; }
	.table-auto { table-layout: auto; }
	.table-fixed { table-layout: fixed; }
}

@include generateTable();
