/*

	Text decoration

*/

@mixin utility-text-decoration($breakpoint: null) {
  .#{$breakpoint}text-none { text-decoration: none; }
  .#{$breakpoint}text-underline { text-decoration: underline; }
  .#{$breakpoint}text-strike { text-decoration: line-through; }
}

@include utility-text-decoration();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include utility-text-decoration(#{$name}-);
    }
  }
}