/*

	Text align

*/

@mixin generateTextAlign($breakpoint: null) {
  .#{$breakpoint}ta-left { text-align: left; }
  .#{$breakpoint}ta-center { text-align: center; }
  .#{$breakpoint}ta-right { text-align: right; }
  .#{$breakpoint}ta-justify { text-align: justify; }
}

@include generateTextAlign();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateTextAlign(#{$name}-);
    }
  }
}
