/*

	Text transform

*/

@mixin generateTextTransform($breakpoint: null) {
	.#{$breakpoint}tt-uppercase { text-transform: uppercase; }
	.#{$breakpoint}tt-lowercase { text-transform: lowercase; }
	.#{$breakpoint}tt-capitalize { text-transform: capitalize; }
}

@include generateTextTransform();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateTextTransform(#{$name}-);
    }
  }
}
