/*

	Text decoration

*/

@mixin generateTextDecoration($breakpoint: null) {
	.#{$breakpoint}underline { text-decoration: underline; }
	.#{$breakpoint}line { text-decoration: line-through; }
	.#{$breakpoint}plain { text-decoration: none; }
}

@include generateTextDecoration();
