/*

	Typography

*/

@include breakpoints {

	&measure-wide { max-width: 34em }
	&measure { max-width: 30em }
	&measure-narrow { max-width: 20em }
	&headline { font-size: 6rem; }
	&sub-headline { font-size: 5rem; }
	&f1 { font-size: 3rem; }
	&f2 { font-size: 2.25rem; }
	&f3 { font-size: 1.5rem; }
	&f4 { font-size: 1.25rem; }
	&f5 { font-size: 1rem; }
	&f6 { font-size: .875rem; }
	&f-normal { font-size: medium; }
	&fw-lighter { font-weight: lighter; }
	&fw-normal { font-weight: normal; }
	&fw-bolder { font-weight: bolder; }
	&fw-bold { font-weight: bold; }
	&fw1 { font-weight: 100; }
	&fw2 { font-weight: 200; }
	&fw3 { font-weight: 300; }
	&fw4 { font-weight: 400; }
	&fw5 { font-weight: 500; }
	&fw6 { font-weight: 600; }
	&fw7 { font-weight: 700; }
	&fw8 { font-weight: 800; }
	&fw9 { font-weight: 900; }
	&lh-normal { line-height: 1; }
	&lh-title { line-height: 1.25; }
	&lh-copy { line-height: 1.5; }
	&upper { text-transform: uppercase; }
	&lowercase { text-transform: lowercase; }
	&caps { text-transform: capitalize; }
	&fs-normal { font-style: normal; }
	&fs-italic { font-style: italic; }
	&decoration-none { text-decoration: none; }
	&underline { text-decoration: underline; }
	&strike { text-decoration: line-through; }
	&tracked-tight { letter-spacing: -0.05rem; }
	&tracked-normal { letter-spacing: 0; }
	&tracked-wide { letter-spacing: .16rem; }
	&text-center { text-align: center; }
	&text-left { text-align: left; }
	&text-right { text-align: right; }
	&text-justify { text-align: justify; }
	&truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	&ws-prewrap { white-space: pre-wrap; }
	&ws-preline { white-space: pre-line; }
	&ws-nowrap { white-space: nowrap; }
	&ws-normal { white-space: normal; }
	&break-word { word-wrap: break-word; }
	&small-caps { font-variant: small-caps; }
	&font-family-inherit { font-family: inherit; }
	&font-size-inherit { font-size: inherit; }
	&font-color-inherit { color: inherit; }

}

/*

	Font family

*/

.sans-serif {
  font-family: -apple-system,
  						 system-ui,
  						 BlinkMacSystemFont,
  						 "Segoe UI",
  						 "Roboto",
  						 "Helvetica Neue",
  						 Arial,
  						 sans-serif;
}
.times { font-family: "Times New Roman", Times, serif; }
.avenir { font-family: "avenir next", avenir, sans-serif; }
.athelas { font-family: athelas, georgia, serif; }
.helvetica { font-family: "helvetica neue", helvetica, sans-serif; }
.georgia { font-family: georgia, serif; }
.verdana { font-family: verdana, sans-serif; }
.code { font-family: Consolas, monaco, monospace; }
