/*

	Typography

		f  = font-size
		fw = font-weight
		lh = line-height

*/

.measure-thick { max-width: 34em }
.measure { max-width: 30em }
.measure-tight { max-width: 20em }
.headline { font-size: 6rem; }
.big { font-size: 5rem; }
.f1 { font-size: 3.157rem; }
.f2 { font-size: 2.369rem; }
.f3 { font-size: 1.777rem; }
.f4 { font-size: 1.333rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: .75rem; }
.fw1 { font-weight: 100; }
.fw2 { font-weight: 200; }
.fw3 { font-weight: 300; }
.fw4 { font-weight: 400; }
.fw5 { font-weight: 500; }
.fw6 { font-weight: 600; }
.fw7 { font-weight: 700; }
.fw8 { font-weight: 800; }
.fw9 { font-weight: 900; }
.bold { font-weight: bold;}
.lh-normal { line-height: 1; }
.lh-title { line-height: 1.25; }
.lh-copy { line-height: 1.5; }
.upper { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.caps { text-transform: capitalize; }
.normal { font-style: normal; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.strike { text-decoration: line-through; }
.tracked { letter-spacing: .16rem; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.nowrap { white-space: nowrap; }
.break-word { word-wrap: break-word; }
.small-caps { font-variant: small-caps; }
.font-family-inherit { font-family: inherit; }
.font-size-inherit { font-size: inherit; }
.font-color-inherit { color: inherit; }
.times { font-family: "Times New Roman", Times, serif; }
.avenir { font-family: "avenir next", avenir, sans-serif; }
.athelas { font-family: athelas, georgia, serif; }
.helvetica { font-family: "helvetica neue", helvetica, sans-serif; }
.georgia { font-family: georgia, serif; }
.verdana { font-family: verdana, sans-serif; }
.code { font-family: Consolas, monaco, monospace; }

@include media(map-get($mqs, "sm")) {

	.sm-measure-thick { max-width: 34rem }
	.sm-measure { max-width: 30rem }
	.sm-measure-tight { max-width: 20rem }
	.sm-headline { font-size: 6rem; }
	.sm-big { font-size: 5rem; }
	.sm-f1 { font-size: 3.157rem; }
	.sm-f2 { font-size: 2.369rem; }
	.sm-f3 { font-size: 1.777rem; }
	.sm-f4 { font-size: 1.333rem; }
	.sm-f5 { font-size: 1rem; }
	.sm-f6 { font-size: .75rem; }
	.sm-lh-normal { line-height: 1; }
	.sm-lh-title { line-height: 1.25; }
	.sm-lh-copy { line-height: 1.5; }
	.sm-tracked { letter-spacing: .16rem; }
	.sm-text-center { text-align: center; }
	.sm-text-left { text-align: left; }
	.sm-text-right { text-align: right; }
	.sm-text-justify { text-align: justify; }
	.sm-truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	.sm-nowrap { white-space: nowrap; }
	.sm-break-word { word-wrap: break-word; }

}

@include media(map-get($mqs, "md")) {

	.md-measure-thick { max-width: 34rem }
	.md-measure { max-width: 30rem }
	.md-measure-tight { max-width: 20rem }
	.md-headline { font-size: 6rem; }
	.md-big { font-size: 5rem; }
	.md-f1 { font-size: 3.157rem; }
	.md-f2 { font-size: 2.369rem; }
	.md-f3 { font-size: 1.777rem; }
	.md-f4 { font-size: 1.333rem; }
	.md-f5 { font-size: 1rem; }
	.md-f6 { font-size: .75rem; }
	.md-lh-normal { line-height: 1; }
	.md-lh-title { line-height: 1.25; }
	.md-lh-copy { line-height: 1.5; }
	.md-tracked { letter-spacing: .16rem; }
	.md-text-center { text-align: center; }
	.md-text-left { text-align: left; }
	.md-text-right { text-align: right; }
	.md-text-justify { text-align: justify; }
	.md-truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	.md-nowrap { white-space: nowrap; }
	.md-break-word { word-wrap: break-word; }

}

@include media(map-get($mqs, "lg")) {

	.lg-measure-thick { max-width: 34rem }
	.lg-measure { max-width: 30rem }
	.lg-measure-tight { max-width: 20rem }
	.lg-headline { font-size: 6rem; }
	.lg-big { font-size: 5rem; }
	.lg-f1 { font-size: 3.157rem; }
	.lg-f2 { font-size: 2.369rem; }
	.lg-f3 { font-size: 1.777rem; }
	.lg-f4 { font-size: 1.333rem; }
	.lg-f5 { font-size: 1rem; }
	.lg-f6 { font-size: .75rem; }
	.lg-lh-normal { line-height: 1; }
	.lg-lh-title { line-height: 1.25; }
	.lg-lh-copy { line-height: 1.5; }
	.lg-tracked { letter-spacing: .16rem; }
	.lg-text-center { text-align: center; }
	.lg-text-left { text-align: left; }
	.lg-text-right { text-align: right; }
	.lg-text-justify { text-align: justify; }
	.lg-truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	.lg-nowrap { white-space: nowrap; }
	.lg-break-word { word-wrap: break-word; }

}

@include media(map-get($mqs, "xl")) {

	.xl-measure-thick { max-width: 34rem }
	.xl-measure { max-width: 30rem }
	.xl-measure-tight { max-width: 20rem }
	.xl-headline { font-size: 6rem; }
	.xl-big { font-size: 5rem; }
	.xl-f1 { font-size: 3.157rem; }
	.xl-f2 { font-size: 2.369rem; }
	.xl-f3 { font-size: 1.777rem; }
	.xl-f4 { font-size: 1.333rem; }
	.xl-f5 { font-size: 1rem; }
	.xl-f6 { font-size: .75rem; }
	.xl-lh-normal { line-height: 1; }
	.xl-lh-title { line-height: 1.25; }
	.xl-lh-copy { line-height: 1.5; }
	.xl-tracked { letter-spacing: .16rem; }
	.xl-text-center { text-align: center; }
	.xl-text-left { text-align: left; }
	.xl-text-right { text-align: right; }
	.xl-text-justify { text-align: justify; }
	.xl-truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	.xl-nowrap { white-space: nowrap; }
	.xl-break-word { word-wrap: break-word; }

}