/*

	Utilities

*/

@mixin utility-utilities($breakpoint: null) {
  .#{$breakpoint}screen-reader {
	  position: absolute;
	  width: 1px;
	  height: 1px;
	  padding: 0;
	  margin: -1px;
	  overflow: hidden;
	  clip: rect(0,0,0,0);
	  border: 0;
	}

	.#{$breakpoint}measure { max-width: 30rem; }
	.#{$breakpoint}measure-wide { max-width: 34rem; }
	.#{$breakpoint}truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	.#{$breakpoint}fill { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

	.#{$breakpoint}clearfix::before, .cf::after { content: " "; display: table; }
	.#{$breakpoint}clearfix::after { clear: both; }

	.#{$breakpoint}aspect-ratio { height: 0; position: relative }
	.#{$breakpoint}aspect-ratio--16x9 { padding-bottom: 56.25%; }
	.#{$breakpoint}aspect-ratio--8x5 { padding-bottom: 62.5%; }
	.#{$breakpoint}aspect-ratio--4x3 { padding-bottom: 75%; }
	.#{$breakpoint}aspect-ratio--3x2 { padding-bottom: 66.66%; }
	.#{$breakpoint}aspect-ratio-item {
		height: 100%;
		position:
		absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		width: 100%;
		z-index: 100; }

}

@include utility-utilities();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include utility-utilities(#{$name}-);
    }
  }
}
