/*

	Vertical align

*/

@mixin generateVerticalAlign($breakpoint: null) {
  .#{$breakpoint}va-top { vertical-align: top; }
  .#{$breakpoint}va-middle { vertical-align: middle; }
  .#{$breakpoint}va-baseline { vertical-align: baseline; }
  .#{$breakpoint}va-bottom { vertical-align: bottom; }
}

@include generateVerticalAlign();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateVerticalAlign(#{$name}-);
    }
  }
}
