/*

	White space

*/

@mixin generateWhiteSpace($breakpoint: null) {
  .#{$breakpoint}white-space-prewrap { white-space: pre-wrap; }
  .#{$breakpoint}white-space-preline { white-space: pre-line; }
  .#{$breakpoint}white-space-nowrap { white-space: nowrap; }
  .#{$breakpoint}white-space-normal { white-space: normal; }
}

@include generateWhiteSpace();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateWhiteSpace(#{$name}-);
    }
  }
}
