/*

	Z index

*/

@mixin generateZindex($breakpoint: null) {
  .#{$breakpoint}zi-0 { z-index: 0; }
  .#{$breakpoint}zi-1 { z-index: 1; }
  .#{$breakpoint}zi-2 { z-index: 2; }
  .#{$breakpoint}zi-3 { z-index: 3; }
  .#{$breakpoint}zi-4 { z-index: 4; }
  .#{$breakpoint}zi-5 { z-index: 5; }
  .#{$breakpoint}zi-999 { z-index: 999; }
  .#{$breakpoint}zi-max { z-index: 2147483647; }
}

@include generateZindex();

@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include generateZindex(#{$name}-);
    }
  }
}
